<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/templatemo-style.css" rel="stylesheet">
</head>
<body class="placement">
    
    <div class="main_place"></div>

  <div class="placed"> 
     <h2>LATELY PLACED STUDENTS</h2>
     <table class="table-place">
        <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Branch</th>
            <th>Type</th

        </tr>
      <%
      if(placementList.length!=0){
     var i=1;
      placementList.forEach(placement => {
      %>
      <tr>
        
          <td><%=i; %></td>
          <td><%=placement.name %></td>
          <td><%=placement.email %></td>
          <td><%=placement.branch %></td>
          <td><%=placement.type %></td>
          
    
        
      </tr>
      <% i++; }) %>
      <% } else{ %>
        <tc>
            <td colspan="4">No Data Found</td>

        </tc>
    <% } %>
   
     </table>

     <!-- <table class="table table-striped table-inner">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>-->
      
</div>

</body>
</html>
